html {
    background-color: #f5f5f5;
}
body {
    max-width: 600px;
    padding: 0px;
    margin: auto;
}
.page-heading {
    padding: 20px;
    background-color: #eee;
}
#accordion {
    max-width: 600px;
    margin: auto;
    position: relative;
}
.tab-heading {
    background-color: #6495ed;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #B1A7A7;
    cursor: pointer;
}
.tab-heading::after { 
    width: 10px; 
    height: 10px;
    content: "";
    background-color: transparent;
    position: absolute;
    right: 13px;
    margin-top: 3px;
    border: 3px solid #fff;
    transform: rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.tab-heading.active::after {
    margin-top: 6px;
    transform: rotate(225deg);
}
.tab-collapse {
    display: none;
    padding: 15px 20px;
    background-color: #eee;
}
.phone-number {
    font-size: 14px;
    width: 50%;
    display: inline-block;
    padding: 5px;
}
.clickable-button {
    width: auto;
    max-width: 200px;
    border: 1px solid #6495ed;
    padding: 5px 25px;
    margin: 0px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.clickable-button:hover {
    background-color: transparent;
}
.user-action-btn-container {
    float: right;
}

.popup-window {
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(51,51,51,0.33);
    top: 0;
    left: 0;
    overflow-y: scroll;
    display: none;
}
.popup-window:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 100%;
}
.popup-body {
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 350px;
}
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes scale {
    0% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.loader-overlay {
    z-index: 1;
}

.loader > div:not(.loader-message) {
    width: 11px;
    height: 11px;
    background-color: #848484;
    display: inline-block;
    border-radius: 50%;
    border-block-start: aqua;
    border-block-start-style: inset;
}
.loader > div:not(.loader-message):nth-child(1) {
    -webkit-animation: scale .75s .12s infinite cubic-bezier(.2,.68,.18,1.08);
    -moz-animation: scale .75s .12s infinite cubic-bezier(.2,.68,.18,1.08);
    animation: scale .75s .12s infinite cubic-bezier(.2,.68,.18,1.08);
}
.loader > div:not(.loader-message):nth-child(2) {
    -webkit-animation: scale .75s .24s infinite cubic-bezier(.2,.68,.18,1.08);
    -moz-animation: scale .75s .24s infinite cubic-bezier(.2,.68,.18,1.08);
    animation: scale .75s .24s infinite cubic-bezier(.2,.68,.18,1.08);
}
.loader > div:not(.loader-message):nth-child(3) {
    -webkit-animation: scale .75s .36s infinite cubic-bezier(.2,.68,.18,1.08);
    -moz-animation: scale .75s .36s infinite cubic-bezier(.2,.68,.18,1.08);
    animation: scale .75s .36s infinite cubic-bezier(.2,.68,.18,1.08);
}
.loader > div.loader-message {
    color: #232323;
    font-size: 16px;
}

.popup-header, .popup-content {
    padding: 10px;
    position: relative;
}
.popup-window .popup-header .heading {
    font-size: 16px;
    font-weight: bold;
}
.popup-window .popup-header .close-button {
    float: right;
    position: absolute;
    right: -35px;
    top: -35px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    padding-top: 5px;
    cursor: pointer;
}
.popup-window .popup-content input {
    width: 100%;
    padding: 7px;
    margin: 2px;
}
.otp-logs-container {
    padding: 10px 10px 15px 10px;
}